@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 99.2%;
    --foreground: 0 0% 95%;

    --card: 0 0% 99.2%;
    --card-foreground: 0 0% 95%;

    --popover: 0 0% 8%;
    --popover-foreground: 0 0% 95%;

    --white: 0 0% 99.2%;
    --white-foreground: 0 0% 95%;

    --black: 0 0% 15%;
    --black-foreground: 0 0% 95%;

    --purple: 280 35% 32%;
    --purple-foreground: 0 0% 100%;

    --red: 353 84% 52%;
    --red-foreground: 0 0% 100%;

    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 65%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 280 35% 32%;

    --radius: 0.25rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html,
  body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 140px;
  }

  body {
    font-family: "Mona Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
      "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
   background-image: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
      ),
      url("./assets/images/bg/bg-hat-pattern.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #6B418B;
  }

  p {
    color: #333333;
    font-size: 15px;
  }

  hr {
    border-color: #d9d7d7;
  }

}

@layer utilities {
  .bg-hat-pattern {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
      ),
      url("./assets/images/bg/bg-hat-pattern.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}